# soldered 50MHz Clock.
NET "Clk_50" LOC = "C9" | IOSTANDARD = LVTTL;
NET "Clk_50" PERIOD = 20.0ns HIGH 50%;


# Slide switches (Up = Hi)
NET "REVERSE" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;

# RS-232 Serial Port: DCE
NET "RS232_RXD" LOC = "R7" | IOSTANDARD = LVTTL ;

