# Keys
NET "WEJ(0)" LOC = "P42";
NET "WEJ(1)" LOC = "P40";
NET "WEJ(2)" LOC = "P43";
NET "WEJ(3)" LOC = "P38";

# LEDS
NET "A"  LOC = "P35";
NET "B"  LOC = "P29";
NET "C"  LOC = "P33";
NET "D"  LOC = "P34";
